[user]
	name = Daniel L. Miranda
	email = danieldelacerdamiranda@proton.me
	signingkey = 129009B65EF7FD1B
[init]
	defaultBranch = main
[core]
	editor = vim
[commit]
	gpgsign = true
[fetch]
	prune = true
